// ProductView.scss

.title-text {
    // Define the default styles
    h2 {
      @apply text-gray-800 font-semibold;
    }
  
    // Add hover effect
    &:hover {
      h2 {
        background-color: rgba(211, 175, 209, 0.521);
        color: white;
        width: 200px;
        margin: auto;
        width: 50%;
        border-radius: 50px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }